.menu {
  display: flex;
  z-index: 999;
  .menu-item.root {
    .menu-item-title {
      justify-content: center;
    }
    &:hover {
      background-color: var(--menu-background-color);
    }
    .menu-item {
      .menu-item-title {
        justify-content: space-between;
      }
    }
  }
}
