.divider {
  width: 11px;
  height: 100%;
  position: absolute;
  cursor: e-resize;
  display: flex;
  justify-content: center;
  &-content {
    background-color: var(--font-color-0);
    width: 1px;
    height: 100%;
  }
}
