.tree{
    .tree-node{
        &:hover{
            color:var(--font-color-global-active);
            background-color: var(--background-color-primary-active);
        }
        display: flex;
        user-select: none;
        .tree-node-placeholder{
            width: 1rem;
        }
        .tree-node-folder{
            margin:0.25rem;
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--border-color-global);
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
        }
    }
}